
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

input[type="text"], [type="email"], [type="number"], [type="date"], [type="tel"] {
    width: 50%;
    margin: 6px;
    border: 1px solid darkolivegreen ;
    border-radius: 4px;
}



